<div class="password-policy" *ngIf="password.length > 0 || showMatch">
  <div class="password-policy__strength" [attr.data-level]="strength.level" *ngIf="password.length > 0">
    <div class="password-policy__strength-track">
      <div class="password-policy__strength-bar" [style.width.%]="strength.percent"></div>
    </div>
    <p class="password-policy__strength-label">{{ strength.labelKey | translate }}</p>
  </div>

  <div class="password-rules" *ngIf="password.length > 0">
    <p class="password-rules__title">{{ 'auth.password.policy.title' | translate }}</p>
    <ul>
      <li *ngFor="let rule of rules" [class.valid]="rule.met">
        <i
          class="pi"
          [class.pi-check-circle]="rule.met"
          [class.pi-circle]="!rule.met"
          aria-hidden="true"></i>
        {{ rule.key | translate }}
      </li>
    </ul>
  </div>

  <div class="password-rules password-rules--match" *ngIf="showMatch && confirmPassword.length > 0">
    <ul>
      <li [class.valid]="passwordsMatch">
        <i
          class="pi"
          [class.pi-check-circle]="passwordsMatch"
          [class.pi-circle]="!passwordsMatch"
          aria-hidden="true"></i>
        {{ 'auth.password.policy.match' | translate }}
      </li>
    </ul>
  </div>
</div>
